html, body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    border:5px solid rgb(255, 254, 183);
}

header {
    width: 100%;
    height:8em;
    background-color: black;
}

#topBar {
    height:16%; /*13% if you put the height of the header to 9em*/
    background: linear-gradient(to right, #ff00e9, #07eeff);
    color:white;
}

#iconAndTitle{
    float:left;
    height:100%
}

#iePageIcon{
    float:left;
    height:90%;
    margin-top: 1px;
    margin-left: 2px;
}
#windowOptionButtons{
    float:right;
    height:100%;
    margin-right:2px;
}

.windowOptionButton {
    margin-top: 2px;
    
    height:85%;
    width:25px;
    padding:0px;
    text-align: center;
    border-top: 1px solid white;
}

#minimizeIcon {
    width:90%;
    padding-bottom: 1px;
    height:3px;
}

#resizeIcon {
    height:85%;
    padding-bottom: 1px;
}

#closeIcon {
    height:85%;
    padding-bottom: 1px;
}

#menuBar {
    height:20%;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    color:rgb(240, 240, 240);
}

#menuOptions{
    height:100%;
}

#menuOptions ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
    height:100%;
    padding-left: 16px;
}

.option{
    height:100%;
    list-style-type: none;
    line-height: 25px;
    float:left;
    width:50px;
    margin-right: 1px;
}

#tools{
    margin-left: 17px;
}

.option:hover{
    background-color:rgb(26, 26, 26);
}


